		<div class="container-fluid">
			<div class="panel panel-success" > 
			  <div class="panel-heading" style="background-image: linear-gradient(to bottom,#ffffff 0,#7dd05c 100%);color:#000000">Sales </div>
			  <div class="panel-body" style="padding-top : 3px" >
			  
			  <div class="row" >
				  <div class="form-group pull-right" style="margin-bottom: 0px; margin-top: 0px;"  >
					<div class="col-sm-7" style="text-align : left" >
					 <md-datepicker ng-model="trasaction.inputTrnsDate" md-placeholder="Enter date"
									  md-min-date="minDate" md-max-date="maxDate"></md-datepicker> 
					</div>
				  </div>			  
			  </div>
			  
					<div class="row" >
					  <div class="col-xs-10 panel panel-info" style="margin:10px;" >	  
					  
					  <form class="form-inline input-sm" name="salesform" novalidate >
					  
					  
							  <div class="form-group col-xs-6" ng-class="{'has-error' : submitclick && salesform['trasaction.voucher'].$invalid  }" >
								<label for="inputPassword3" class="col-sm-4 control-label">Voucher</label>
								<div class="col-sm-5">
								  <input type="text" class="form-control input-sm" id="trasaction.voucher" name="trasaction.voucher" ng-model="trasaction.voucher"
								  required  >	
								</div>
							  </div>	
							  
					  		<div class="form-group col-xs-6" ng-class="{'has-error' : submitclick && salesform['trasaction.agent'].$invalid  }">
								<label for="inputPassword3" class="col-sm-3 control-label">Agent</label>
								<div class="col-sm-6">
									<select class="form-control input-sm" ng-model="trasaction.agent" name="trasaction.agent" 
											ng-init="trasaction.agent = trasaction.agent || options[0].value"
											ng-options="option as option.name for option in agents "
											required >
											<option value="">-- Choose Agent --</option>
									</select>	
								</div>
									<label for="inputPassword3" class="col-sm-2 control-label" ng-if="trasaction.agent != null"
											style="text-align : left" >{{trasaction.agent.commission}} %</label>
							  </div>								  
							  
					  		<div class="form-group col-xs-6" style="margin-top:10px;margin-bottom:10px" 
							ng-class="{'has-error' : submitclick && salesform['trasaction.fromledger'].$invalid  }">
								<label for="inputPassword3" class="col-sm-4 control-label">From Account</label>
								<div class="col-sm-6">
									<select class="form-control input-sm" ng-model="trasaction.fromledger" name="trasaction.fromledger" 
											ng-init="trasaction.fromledger = trasaction.fromledger || options[0].value"
											ng-options="option as option.name for option in ledgers | filter:{ accGroup:{name :'Sundry Debtors'}}  "
											required >
											<option value="">-- Choose Account --</option>
									</select>	
								</div>
									<label for="inputPassword3" class="col-sm-1 control-label" ng-if="trasaction.fromledger != null"
											style="text-align : left" >{{trasaction.fromledger.curbal}}</label>
							  </div>	
							  
					  		<div class="form-group col-xs-6" style="margin-top:10px;margin-bottom:10px" ng-class="{'has-error' : submitclick && salesform['trasaction.ledger'].$invalid  }">
								<label for="inputPassword3" class="col-sm-3 control-label">To Account</label>
								<div class="col-sm-6">
									<select class="form-control input-sm" ng-model="trasaction.ledger" name="trasaction.ledger" 
											ng-init="trasaction.ledger = trasaction.ledger || options[0].value"
											ng-options="option as option.name for option in ledgers | filter:{ accGroup:{name :'Sales'}}  "
											required >
											<option value="">-- Choose Account --</option>
									</select>
									</div>
									<label for="inputPassword3" class="col-sm-1 control-label" style="text-align : left" ng-if="trasaction.ledger != null"
								 >{{trasaction.ledger.curbal}}</label>									
								
							  </div>	
					  

					<div class="panel panel-warning col-sm-12" style="padding:0px;margin-left:10px" >
					  <div class="panel-heading small">Select Items</div>
						<table class="table table-condensed table-bordered"  >
							<thead>
							<tr>
							  <th class="col-sm-2 input-sm">Item Name</th>
							  <th class="col-sm-2 input-sm">HSN#</th>
							  <th class="col-sm-2 input-sm">Stock Group</th>
							  <th class="col-sm-1 input-sm">Shade</th>
							  <th class="col-sm-1 input-sm">Avaliable Quantity</th>
							   <th class="col-sm-1 input-sm" ng-if="false">Purchase Rate</th>
							  <th class="col-sm-1 input-sm">Sale Rate</th>
							  <th class="col-sm-3 input-sm">Current Quantity</th>
							  <th class="col-sm-1 input-sm"></th>
							</tr>
							</thead>
							<tr class="warning" ng-repeat="curTrasItem in trasaction.trasactionItems" > 
								  <td ng-class="{'has-error' : ( submitclick && !(curTrasItem.item.id >0) ) }" >
										<select class="form-control input-sm" ng-model="curTrasItem.item" name="curTrasItem.item"  style="width:150px" 
												ng-init="curTrasItem.item = curTrasItem.item || options[0].value"
												ng-options="option as option.name for option in items"
												ng-change="curTrasItem.rate = curTrasItem.item.rate;
												curTrasItem.purcrate = curTrasItem.item.purcrate;
												curTrasItem.curItems = [];
												curTrasItem.showSplit=false;
												curTrasItem.quandity = 0;
												curTrasItem.curItems.push({ 'quandity': 1, 'pices':1})"
												required>
												<option value="">-- Choose Item Name --</option>
										</select>								  
								  </td>
								 
								 <td>  
								  <label for="inputPassword3" class="col-sm-10 control-label" style="text-align : left" ng-if="curTrasItem.item != null" >
								  {{curTrasItem.item.itemHSN}} 
								  </label>
								  </td>
								 
						          <td> 
								      <label for="inputPassword3" class="col-sm-10 control-label" style="text-align : left" ng-if="curTrasItem.item != null" >
								      {{showGrp(stockGroups[curTrasItem.item.stockGroup],'')}}
									  </label>
								  </td>
								  <td>  {{curTrasItem.item.shade}} </td>
								  <td>  {{curTrasItem.item.curqundty}} </td>
								  <td ng-class="{'has-error' : ( submitclick && (+curTrasItem.purcrate) == 0) }" ng-if="false" >  
								      <input type="number" min="1" step="1" class="form-control input-sm" id="inputPassword3" style="width: 70px;"
									  name="curTrasItem.purcrate" ng-model="curTrasItem.purcrate" required readonly>
								  </td>								  
								  <td ng-class="{'has-error' : ( submitclick && (+curTrasItem.rate) == 0) }" >  
								      <input type="number" min="1" step="1" class="form-control input-sm" id="inputPassword3" style="width: 70px;"
									  name="curTrasItem.rate" ng-model="curTrasItem.rate" required>
								  </td>
								  <td ng-class="{'has-error' : ( curTrasItem.quandity > curTrasItem.item.curqundty || curTrasItem.grandTotal != curTrasItem.quandity ) }" > 
								  
                                  <input type="number" min="1" step="1" class="form-control input-sm-2" style="display: table-row-group;width: 50%;width: 70px;" id="inputPassword3" 
								  name="curTrasItem.quandity" ng-model="curTrasItem.quandity"  required 
								  ng-change="curTrasItem.curItems[0].quandity=curTrasItem.quandity;getTotal(curTrasItem);curTrasItem.showSplit=true;">
								  
								  	<div class="alert alert-danger" role="alert" ng-if="curTrasItem.quandity > (curTrasItem.item.curqundty)" >
											ERROR : Current  quandity <b> {{curTrasItem.quandity}} </b> should not exeeds avaliable quantity <b>{{curTrasItem.item.curqundty}}</b>
									</div>
								  
								  <button type="button" ng-click="curTrasItem.showSplit=true;"  
								   class="btn btn-warning btn-xs" ng-if="curTrasItem.quandity > 0 
								   && curTrasItem.quandity <= curTrasItem.item.curqundty&& curTrasItem.showSplit !=true " >Show Split</button>
								   <button type="button" ng-click="curTrasItem.showSplit=false;"   
												class="btn btn-warning btn-xs" ng-if="curTrasItem.showSplit==true && curTrasItem.quandity <= curTrasItem.item.curqundty" >Hide Split</button>
								  
										<div class="panel panel-warning col-sm-12" style="padding:0px;margin-left:10px"  
										ng-if="curTrasItem.showSplit==true && curTrasItem.quandity > 0 && curTrasItem.quandity <= curTrasItem.item.curqundty ">
										  <div class="panel-heading small">Split Items </div>
										  
										<table class="table table-condensed table-bordered"  >
										<thead>
										<tr>
										  <th class="col-sm-1 input-sm">No of Packets</th>
										  <th class="col-sm-2 input-sm">Each Packet Quantity</th>
										  <th class="col-sm-1 input-sm">Total available Quantity </th>
										  <th class="col-sm-1 input-sm"> Choose Quantity </th>
										</tr>
										</thead>
										
										<tr class="warning" ng-repeat="selItem in curTrasItem.item.itemDtls" ng-if="selItem.curqundty > 0" > 
										 <td><input type="number" min="0" step="1" class="form-control input-sm" ng-model="selItem.pices" style="width: 70px;" readonly></td>
										 <td> <input type="number" min="0" step="1" class="col-md-2 form-control input-sm"  ng-model="selItem.curqundty" style="width: 70px;" readonly></td>	
										 <td> {{(+selItem.curqundty) * (+selItem.pices) }} &nbsp;	&nbsp;	</td>	
										  <td ng-class="{'has-error' : selItem.inputqundty > selItem.curqundty  }" >
											<input type="number" min="0" step="1" class="col-md-2 form-control input-sm"  ng-model="selItem.inputqundty" style="width: 70px;">
										 </td>						 
										</tr>
										<tr class="">
										 <td colspan="2" style="text-align : right" ><b>Grand Total </b></td>
										 <td> <b>{{getTotal(curTrasItem,1);}}</b>
										 <td> <b>{{getTotal(curTrasItem,2);}}</b>
										 </td>	
										</tr>
										<tr class="warning">
											<td colspan="3" style="text-align : right" ><b>Total Price</b></td>
											<td style="text-align : left" ><b>{{curTrasItem.grandTotal*curTrasItem.rate}}</b></td>
										</tr>						
										<tr class="warning">
										<td colspan="3" style="text-align : center" >
										 <div class="alert alert-danger" role="alert" ng-if="curTrasItem.grandTotal > (curTrasItem.quandity)" >
											ERROR : Split grand total <b> {{curTrasItem.grandTotal}} </b> should not exeeds total quantity <b>{{curTrasItem.quandity}}</b>
										 </div>
										</td>
										</tr>
										</table>	
									
										</div>									  
								  
								  
								  </td>
								  <td> 
								     <button type="button" class="btn btn-success btn-xs" 
									     ng-click="addItem(trasaction);" ng-if="trasaction.trasactionItems.length == $index+1" >
										 <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ></span>
										 </button>
								     <button type="button" class="btn btn-danger btn-xs" 
									     ng-click="removeItem($index,trasaction);purchaseTotal(trasaction);" >
										 <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" ></span>
										 </button>										 
								  </td>
							</tr>
							<tr class="warning">
								<td colspan="5" style="text-align : right;" > <b> Grand Total </b> </td>
								<td colspan="2" style="text-align : left;" >
								{{trasaction.quandity}}
								</td>
							</tr>	
							<tr class="warning">
								<td colspan="5" style="text-align : right;" > <b> Total Price </b>  </td>
								<td colspan="2" style="text-align : left;" >
								{{trasaction.rate}}
								</td>
							</tr>	
							<tr class="warning">
								<td colspan="5" style="text-align : right;" > <b> Agent Commission </b>  </td>
								<td colspan="2" style="text-align : left;" >
								{{ (trasaction.rate * trasaction.agent.commission) / 100 }}
								</td>
							</tr>
							<tr class="">
								<td colspan="7" style="text-align : center;" >
							  <div class="form-group" ng-class="{'has-error' : submitclick && salesform['trasaction.desc'].$invalid }">
								<label for="inputPassword3" class="col-sm-5 control-label">Narration</label>
								<div class="col-sm-5">
								  <textarea rows="5" class="form-control input-sm" id="inputPassword3" name="trasaction.desc" ng-model="trasaction.desc"
								  placeholder="Narration" required></textarea>
								</div>
							  </div>
								</td>
							</tr>
							  
							<tr class="">
								<td colspan="7" style="text-align : center;" >
								{{purchaseTotal(trasaction)}}
			                        <button type="button" ng-click="sales(trasaction);" 
								    class="btn btn-success">Submit</button>	
								</td>
							</tr>							
							<tr class="warning">
								<td colspan="7" style="text-align : center; font-size: 150%;" >
										   <span class="label label-success" ng-if="optStatus == 'Success'" > Sale done successfully.</span>
										   <span class="label label-danger" ng-if="optStatus == 'Failed'" > Failed to store sale details.</span>				
								</td>
							</tr>	
						</table>					
					</div>		  
		
					  
					  </form>
	                  </div>
			        </div>		
			  </div>
			</div>
		</div>  
