		<div class="container-fluid">
			<div class="panel panel-success" > 
			  
			  	<div class="panel-heading" style="background-image: linear-gradient(to bottom,#ffffff 0,#7dd05c 100%);color:#000000" ng-if="returnType == 'TR_P'"><strong>Purchase --> Create</strong></div>
			
			<div class="panel-heading" style="background-image: linear-gradient(to bottom,#ffffff 0,#7dd05c 100%);color:#000000" ng-if="returnType == 'TR_SR'"><strong>Sales Return --> Create </strong></div>
	
			  
			  
			  <div class="panel-body" style="padding-top : 3px" >
			  <div class="row" >
			  
				<div class="col-sm-7" style="text-align : left;"  >
						<span class="label label-danger" > *All fields are mandatory </span>	
				  </div>
			  
				  <div class="form-group pull-right" style="margin-bottom: 0px; margin-top: 0px;"  >
					<div class="col-sm-7" style="text-align : left" >
					 <md-datepicker ng-model="purchage.inputTrnsDate" md-placeholder="Enter date"
						  md-min-date="minDate" md-max-date="maxDate"></md-datepicker> 
					</div>
				  </div>			  
			  </div>
					<div class="row" >
					  <!--<div class="col-xs-10 panel panel-info" style="margin:10px;padding-top:20px" >	  -->
					  <div class="col-xs-12 panel panel-info" style="margin-left:0px;margin-right:0px;padding-top:20px;padding-left:0px;padding-right:0px;" >	  
					  
					  <form class="form-inline input-sm" name="purchagesform" novalidate >
					  
							 
							 <div class="form-group col-xs-6" ng-class="{'has-error' : submitclick && purchagesform['purchage.voucher'].$invalid  }" ng-if="returnType == 'TR_SR'">
								<label for="inputPassword3" class="col-sm-4 control-label">Voucher</label>
								<div class="col-sm-5">
								  <input type="text" class="form-control input-sm" id="purchage.voucher" name="purchage.voucher" ng-model="purchage.voucher"
								  required  >	
								</div>
							  </div>	
						


							 <div class="form-group col-xs-12" ng-class="{'has-error' : submitclick && purchagesform['purchage.voucher'].$invalid  }" ng-if="returnType == 'TR_P'">
								<label for="inputPassword3" class="col-sm-2 control-label">Voucher</label>
								<div class="col-sm-10" style="padding-left:8px;" >
								  <input type="text" class="form-control input-sm" id="purchage.voucher" name="purchage.voucher" ng-model="purchage.voucher"
								  required  >	
								</div>
							  </div>	
							  
					  		
							<div class="form-group col-xs-6" ng-class="{'has-error' : submitclick && purchagesform['purchage.agent'].$invalid  }" ng-if="returnType == 'TR_SR'">
							
								<label for="inputPassword3" class="col-sm-4 control-label">Agent</label>
								<div class="col-sm-6">
									<select class="form-control input-sm" ng-model="purchage.agent" name="purchage.agent" 
											ng-init="purchage.agent = purchage.agent || options[0].value"
											ng-options="option as option.name for option in agents "
											required >
											<option value="">-- Choose Agent --</option>
									</select>	
								</div>
									<label for="inputPassword3" class="col-sm-2 control-label" ng-if="purchage.agent != null"
											style="text-align : left" >{{purchage.agent.commission}} %</label>
							  </div>								  
							
							
					  		<div class="form-group col-xs-6" style="margin-top:10px;margin-bottom:10px" ng-class="{'has-error' : submitclick && purchagesform['purchage.fromledger'].$invalid  }">
								<label for="inputPassword3" class="col-sm-4 control-label">Party Account Name</label>
								<div class="col-sm-6">
								
								
								<!--<select class="form-control input-sm" ng-model="purchage.fromledger" name="purchage.fromledger" 
										ng-init="purchage.fromledger = purchage.fromledger || options[0].value"
										ng-options="option as option.name for option in ledgers | filter:filterForPurchases" 
										ng-change="callGST(purchage)"
										required ng-if="returnType == 'TR_P'">
										<option value="">-- Choose Account --</option>
								</select>	-->
								
								<!--change on 9/28-->
								<select class="form-control input-sm" ng-model="purchage.fromledger" name="purchage.fromledger" 
										ng-init="purchage.fromledger = purchage.fromledger || options[0].value"
										ng-options="option as option.name for option in partyACNameForPurchase" 
										ng-change="callGST(purchage)"
										required ng-if="returnType == 'TR_P'">
										<option value="">-- Choose Account --</option>
								</select>	
								
								
								<!--<select class="form-control input-sm" ng-model="purchage.fromledger" name="purchage.fromledger" 
										ng-init="purchage.fromledger = purchage.fromledger || options[0].value"
										ng-options="option as option.name for option in ledgers | filter:filterForSales" required ng-if="returnType == 'TR_SR'">
										<option value="">-- Choose Account --</option>
								</select>	 -->
								
								<!--change on 9/28-->
								<select class="form-control input-sm" ng-model="purchage.fromledger" name="purchage.fromledger" 
										ng-init="purchage.fromledger = purchage.fromledger || options[0].value"
										ng-options="option as option.name for option in partyACNameForSales"
										ng-change="callGST(purchage)"
										required ng-if="returnType == 'TR_SR'">
										<option value="">-- Choose Account --</option>
								</select>	 
														
							
							</div>
									<label for="inputPassword3" class="col-sm-1 control-label" ng-if="purchage.fromledger != null"
											style="text-align : left" >{{purchage.fromledger.curbal}}</label>
							  </div>	
							  
					  		<div class="form-group col-xs-6" style="margin-top:10px;margin-bottom:10px" ng-class="{'has-error' : submitclick && purchagesform['purchage.ledger'].$invalid  }">
								<label for="inputPassword3" class="col-sm-4 control-label">Purchase Account</label>
								<div class="col-sm-6">
									
									<!--
									<select class="form-control input-sm" ng-model="purchage.ledger" name="purchage.ledger" 
											ng-init="purchage.ledger = purchage.ledger || options[0].value"
											ng-options="option as option.name for option in ledgers | filter:{ accGroup:{name :'Purchases'}}  "
											ng-change="callGST(purchage)"
											required ng-if="returnType == 'TR_P'">
											<option value="">-- Choose Account --</option>
									</select>
									
									<select class="form-control input-sm" ng-model="purchage.ledger" name="purchage.ledger" 
											ng-init="purchage.ledger = purchage.ledger || options[0].value"
											ng-options="option as option.name for option in ledgers | filter:{ accGroup:{name :'Sales'}}  "
											required ng-if="returnType == 'TR_SR'">
											<option value="">-- Choose Account --</option>
									</select>
									-->
									<!--changes on 9/29-->
									<select class="form-control input-sm" ng-model="purchage.ledger" name="purchage.ledger" 
											ng-init="purchage.ledger = purchage.ledger || options[0].value"
											ng-options="option as option.name for option in PurchaseACName "
											required ng-if="returnType == 'TR_P'">
											<option value="">-- Choose Account --</option>
									</select>
									<!--changes on 9/29-->
									<select class="form-control input-sm" ng-model="purchage.ledger" name="purchage.ledger" 
											ng-init="purchage.ledger = purchage.ledger || options[0].value"
											ng-options="option as option.name for option in SalesACName"
											required ng-if="returnType == 'TR_SR'">
											<option value="">-- Choose Account --</option>
									</select>
									
									</div>
									<label for="inputPassword3" class="col-sm-1 control-label" style="text-align : left" ng-if="purchage.ledger != null"
								 >{{purchage.ledger.curbal}}</label>									
								
							  </div>	
							  
					<div class="panel panel-warning col-sm-12" style="padding:0px;margin:0px;" >
					  <div class="panel-heading small" >Select Items</div>
						<table class="table table-condensed table-bordered"  >
							<thead>
							<tr>
							  <th class="col-sm-2 input-sm">Item Name</th>
							  <th class="col-sm-1 input-sm">HSN#</th>
							  <th class="col-sm-2 input-sm">Stock Group</th>
							  <th class="col-sm-1 input-sm">Shade</th>
							  <th class="col-sm-1 input-sm">Avaliable Quantity</th> 
							  <th class="col-sm-1 input-sm">Purchase Rate</th>
							  <th class="col-sm-1 input-sm" ng-show="false">Sale Rate</th>
							  <th class="col-sm-3 input-sm">Current Quantity</th>
							  <th class="col-sm-1 input-sm">Action</th>
							</tr>
							</thead>
							<tr class="warning" ng-repeat="curTrasItem in purchage.trasactionItems" > 
								  <td ng-class="{'has-error' : ( submitclick && !(curTrasItem.item.id >0) ) }" >
										
										
										<select class="form-control input-sm" ng-model="curTrasItem.item" name="curTrasItem.item" style="width:150px" 
												ng-init="curTrasItem.item = curTrasItem.item || options[0].value"
												ng-options="option as option.name for option in items"
												ng-change="curTrasItem.rate = curTrasItem.item.rate;
												curTrasItem.purcrate = curTrasItem.item.purcrate;
												curTrasItem.curItems = [];
												curTrasItem.curItems.push({ 'quandity': 0, 'pices':0});
												curTrasItem.quandity = 0;
												curTrasItem.showSplit=false;"
												required>
												<option value="">-- Choose Item Name --</option>
										</select>								  
								  </td>
						          
								  <td>  
								  <label for="inputPassword3" class="col-sm-10 control-label" style="text-align : left" ng-if="curTrasItem.item != null" >
								  {{curTrasItem.item.itemHSN}} 
								  </label>
								  </td>
								  
								   <td> 
								      <label for="inputPassword3" class="col-sm-10 control-label" style="text-align : left" ng-if="curTrasItem.item != null" >
								      {{showGrp(stockGroups[curTrasItem.item.stockGroup],'')}}
									  </label>
								  </td>
								  <td>  {{curTrasItem.item.shade}} </td>
								  <td>  {{curTrasItem.item.curqundty}} </td>
								  
								  <td ng-class="{'has-error' : ( submitclick && (+curTrasItem.purcrate) == 0) }" >  
								      <input type="number" min="1" step="1" class="form-control input-sm" id="inputPassword3" style="width: 70px;"
									  name="curTrasItem.purcrate" ng-model="curTrasItem.purcrate" required>
								  </td>								  
								  
								  <td ng-class="{'has-error' : ( submitclick && (+curTrasItem.rate) == 0) }" ng-show="false">  
								      <input type="number" min="1" step="1" class="form-control input-sm" id="inputPassword3" style="width: 70px;"
									  name="curTrasItem.rate" ng-model="curTrasItem.rate" required>
								  </td>
								  
								  <td ng-class="{'has-error' : ( curTrasItem.grandTotal != curTrasItem.quandity ) }" > 
								  
                                  <input type="number" min="1" step="1" class="form-control input-sm-2" style="display: table-row-group;width: 50%;width: 70px;" id="inputPassword3" 
								  name="curTrasItem.quandity" ng-model="curTrasItem.quandity"  required 
								  ng-change="curTrasItem.curItems[0].pices=1;curTrasItem.curItems[0].quandity=curTrasItem.quandity;getTotal(curTrasItem);curTrasItem.showSplit=true;">
								  
						  
								  <button type="button" ng-click="curTrasItem.showSplit=true;"  
								   class="btn btn-warning btn-xs" ng-if="curTrasItem.quandity > 0 
								   && curTrasItem.showSplit !=true " >Show Split</button>
								   <button type="button" ng-click="curTrasItem.showSplit=false;"   
												class="btn btn-warning btn-xs" ng-if="curTrasItem.showSplit==true" >Hide Split</button>
								  
										<!--<div class="panel panel-warning col-sm-12" style="padding:0px;margin-left:10px"  
										ng-if="curTrasItem.showSplit==true && curTrasItem.quandity > 0 "> -->
										<div class="panel panel-warning col-sm-12" style="padding:0px;margin-left:0px"  
										ng-if="curTrasItem.showSplit==true && curTrasItem.quandity > 0 ">

										  <div class="panel-heading small">Split Items </div>
										  
										<table class="table table-condensed table-bordered"  >
										<thead>
										<tr>
										  <th class="col-sm-1 input-sm">No of Pieces</th>
										  <th class="col-sm-2 input-sm">Each Piece Quantity</th>
										  <th class="col-sm-1 input-sm">Total</th>
										</tr>
										</thead>
										<tr class="warning" ng-repeat="selItem in curTrasItem.curItems" > 
										 <td><input type="number" min="0" step="1" class="form-control input-sm" ng-model="selItem.pices" style="width: 70px;"></td>
										 <td> <input type="number" min="0" step="1" class="col-md-2 form-control input-sm"  ng-model="selItem.quandity" style="width: 70px;"></td>	
										 <td> {{(+selItem.quandity) * (+selItem.pices) }} &nbsp;	&nbsp;	
										 <button type="button" class="btn btn-warning btn-sm" ng-click="curTrasItem.curItems.push({ 'quandity': 1, 'pices':1})"
										 ng-if="(curTrasItem.grandTotal < curTrasItem.quandity && curTrasItem.curItems.length == $index+1 && ( (+selItem.quandity)* (+selItem.pices) > 0) )">Add</button></td>						 
										</tr>
										<tr class="">
										 <td colspan="2" style="text-align : right" ><b>Total Packets </b></td>
										 <td> <b>{{getTotal(curTrasItem);}}</b>
										 </td>	
										</tr>
										<tr class="warning">
											<td colspan="2" style="text-align : right" ><b>Total Price</b></td>
											<td style="text-align : left" ><b>{{curTrasItem.grandTotal*curTrasItem.rate}}</b></td>
										</tr>	
										<tr class="warning">
										<td colspan="3" style="text-align : center" >
										 <div class="alert alert-danger" role="alert" ng-if="curTrasItem.grandTotal > (curTrasItem.quandity)" >
											ERROR : Split grand total <b> {{curTrasItem.grandTotal}} </b> should not exeeds total quantity <b>{{curTrasItem.quandity}}</b>
										 </div>
										</td>
										</tr>
										</table>	
									
										</div>									  
								  
								  
								  </td>
								  <td> 
								     <button type="button" class="btn btn-success btn-xs" 
									     ng-click="addItem(purchage);" ng-if="purchage.trasactionItems.length == $index+1" >
										 <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" ></span>
										 </button>
								     <button type="button" class="btn btn-danger btn-xs" 
									     ng-click="removeItem($index,purchage);purchaseTotal(purchage);" >
										 <span class="glyphicon glyphicon-remove-sign" aria-hidden="true" ></span>
										 </button>										 
								  </td>
							</tr>
							<tr class="warning">
								<td colspan="6" style="text-align : right;" > <b> Total Pieces </b> </td>
								<td colspan="3" style="text-align : left;" >
								{{purchage.totalPieces}}
								</td>
							</tr>	
						
							<tr class="warning">
								<td colspan="6" style="text-align : right;" > <b> Total Quantity </b> </td>
								<td colspan="3" style="text-align : left;" >
								{{purchage.quandity}}
								</td>
							</tr>	
							<tr class="warning">
								<td colspan="6" style="text-align : right;" > <b> Taxable Amount </b>  </td>
								<td colspan="3" style="text-align : left;" >
								{{currency}} &nbsp; {{purchage.rate}}
								</td>
							</tr>	
							<tr class="warning" ng-if="GSTapplicable == true && showSCGST == true">
								<td colspan="6" style="text-align : right;" > <b> GST --> SGST(2.5%) </b>  </td>
								<td colspan="3" style="text-align : left;" >
								{{currency}} &nbsp; {{(purchage.rate * 2.5/100)}}
								</td>
							</tr>	
							<tr class="warning" ng-if="GSTapplicable == true && showSCGST == true">
								<td colspan="6" style="text-align : right;" > <b> GST --> CGST(2.5%) </b>  </td>
								<td colspan="3" style="text-align : left;" >
								{{currency}} &nbsp; {{(purchage.rate * 2.5/100)}}
								</td>
							</tr>
							
							<tr class="warning" ng-if="GSTapplicable == true && showIGST == true">
								<td colspan="6" style="text-align : right;" > <b> GST --> IGST(5%) </b>  </td>
								<td colspan="3" style="text-align : left;" >
								{{currency}} &nbsp; {{(purchage.rate * 5/100)}}
								</td>
							</tr>
							
							<tr class="warning" ng-if="GSTapplicable == true">
								<td colspan="6" style="text-align : right;" > <b> Total Amount (with GST) </b>  </td>
								<td colspan="3" style="text-align : left;" >
								{{currency}} &nbsp; {{(purchage.rate + (purchage.rate * 5/100) )}}
								</td>
							</tr>	
							
							<tr class="warning" ng-if="GSTapplicable == false">
								<td colspan="6" style="text-align : right;" > <b> Total Amount </b>  </td>
								<td colspan="3" style="text-align : left;" >
								{{currency}} &nbsp; {{purchage.rate}}
								</td>
							</tr>	
							
							<tr class="warning" ng-if="returnType == 'TR_SR'">
								<td colspan="6" style="text-align : right;" > <b> Agent Commission </b>  </td>
								<td colspan="3" style="text-align : left;" ng-if="purchage.agent.commission != null">
								{{currency}} &nbsp; {{ (purchage.rate * purchage.agent.commission) / 100 }}
								</td>
								<td colspan="3" style="text-align : left;" ng-if="purchage.agent.commission == null">
								{{currency}} &nbsp; 0
								</td>
							</tr>	
							<tr class="">
								
							<!--
							<td colspan="9" style="text-align : center;" >
							  <div class="form-group" ng-class="{'has-error' : submitclick && purchagesform['purchage.desc'].$invalid }">
								<label for="inputPassword3" class="col-sm-5 control-label">Narration</label>
								<div class="col-sm-5">
								  <textarea rows="5" class="form-control input-sm" id="inputPassword3" name="purchage.desc" ng-model="purchage.desc"
								  placeholder="Narration" required></textarea>
								</div>
							  </div>
								</td>
							-->
							<td colspan="1" style="text-align : right;" >
							  <div class="form-group" ng-class="{'has-error' : submitclick && purchagesform['purchage.desc'].$invalid }" >
								<label for="inputPassword3" class="col-sm-5 control-label" style="padding:0px;margin-right:0px;">Narration</label>
								</div>
							</td>	
								<td colspan="8" style="text-align : left;" >
								<div class="col-sm-12" style="padding:0px;">
								  <textarea rows="2" class="form-control" style="min-width: 100%" id="inputPassword3" name="purchage.desc" ng-model="purchage.desc"
								  placeholder="Narration" required></textarea>
								</div>
							  </td>
							
							</tr>
							  
							<tr class="">
								<td colspan="10" style="text-align : center;" >
								{{purchaseTotal(purchage)}}
			                        
									
									<button type="button" ng-click="purchanges(purchage);" style="margin-bottom: 10px;width: 100px;"
								    class="btn btn-success">Save</button>	
								    <label for="inputPassword3" class="col-sm-2 control-label"></label>
								
								   <button type="button" ng-click="cancelPurchase();" style="margin-bottom: 10px;width: 100px;" 
								   class="btn btn-warning btn-small">Cancel</button>	
								
								</td>
							</tr>							
							<tr class="warning">
								 <td colspan="7" style="text-align : center; font-size: 150%;" ng-if="returnType == 'TR_P'">
										 
										 <span class="label label-success" ng-if="optStatus == 'Success'" > Purchase done successfully.</span>
										   <span class="label label-danger" ng-if="optStatus == 'Failed'" > Failed to store transaction details.</span>				
								</td>
								<td colspan="7" style="text-align : center; font-size: 150%;" ng-if="returnType == 'TR_SR'">
										 
										 <span class="label label-success" ng-if="optStatus == 'Success'" > Sale Return done successfully.</span>
										   <span class="label label-danger" ng-if="optStatus == 'Failed'" > Failed to store transaction details.</span>				
								</td>
							</tr>	
						</table>					
					</div>		  
							  
					  
					  </form>
	                  </div>
			        </div>		
			  </div>
			</div>
		</div>  
